<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ArkivInnsynSoap" />
                <binding name="SakArkivOppdateringSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://rep.geointegrasjon.no/Arkiv/Innsyn/xml.wsdl/2012.01.31"
                binding="basicHttpBinding" bindingConfiguration="ArkivInnsynSoap"
                contract="ArkivInnsyn.ArkivInnsynPort" name="ArkivInnsyn" />
            <endpoint address="http://rep.geointegrasjon.no/Arkiv/Oppdatering/xml.wsdl/2012.01.31"
                binding="basicHttpBinding" bindingConfiguration="SakArkivOppdateringSoap"
                contract="ArkivOppdatering.SakArkivOppdateringPort" name="SakArkivOppdatering" />
        </client>
    </system.serviceModel>
</configuration>